/* .App {
  text-align: center;
} */
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
ul li {
  margin: 5px;
}
ul {
  text-align: center;
  list-style: inside;
  list-style-type: none;
  padding: 10px;
  list-style-position: inside;
  list-style-type: none;
}
h1 {
  text-align: center;
}
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.ing {
  text-decoration: underline;
  margin-top: 0;
  margin-bottom: 0;
}
.border {
  border-bottom: 1px solid black;
}
.title {
  font-weight: bold;
}
body {
  background-color: lightblue;
}
.container {
  border: #282c34;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
